.app {
  display: flex;
  flex-direction: column;

  .app-body {
    .body-center {
      flex: 1;
      background-color: blue;
    }

    .body-right {
      width: 0;
    }
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
